@media screen and (max-width:480px) {
    .login__heading {
        padding: 50px 0;
    }

    .login__heading p {
        font-size: 24px;
    }

    .login__form p {
        font-size: 14px;
    }

    .login__form input {
        font-size: 13px;
        width: 230px;
        height: 25px;
    }

    .login__form .email__input {
        margin-bottom: 14px;
    }

    .submit__btn {
        padding: 5px 25px;
        font-size: 14px;
        margin: 30px auto 0 auto;
    }

    .createAccount__btn {
        font-size: 14px;
    }

    .get__help {
        padding: 50px 15px 20px 0;
    }

    .get__help__btn {
        font-size: 14px;
    }
}