:root {
    --black: black;
    --theme_skin: #CDC6C0;
    --theme_font: #504034;
    --font_green_dark: #72726c;
    --theme_btn_brown: #BC8E74;
    --theme_btn_green: #91957E;
}


/* heading  */

.trending__now {
    padding: 30px 0;
}


/* heading  */

.trending__now__heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    color: var(--theme_font);
}


/* filters  */

.trending__now__filters ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.trending__now__filters ul li {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 200;
    margin: 0 30px;
    cursor: pointer;
    padding-bottom: 5px;
    position: relative;
    overflow: hidden;
}

.trending__now__filters ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: translateX(-100%);
    transition: 0.3s ease;
}

.trending__now__filters ul li:hover::after {
    transform: translateX(0);
}


/* products grid */

.trending_now__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 90px;
    column-gap: 60px;
}


/* products  */

.trendingNow_product__box__img {
    width: 100%;
    overflow: hidden;
}

.trendingNow_product__box__img:hover img {
    transform: scale(1.05);
}

.trendingNow_product__box__img img {
    width: 100%;
    display: block;
    pointer-events: none;
    transition: 0.6s ease;
}


/* product name & rating */

.textContent__productName__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


/* name  */

.textContent__productName {
    font-size: 20px;
    font-weight: 200;
    text-transform: capitalize;
    padding: 5px 0;
}


/* rating  */

.textContent____rating {
    width: 100px;
}

.textContent____rating img {
    width: 100%;
    display: block;
}


/* product price & cart btn */

.trendingNow_product__price__cartBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


/* price  */

.trendingNow_product__price {
    font-size: 19px;
    font-weight: 200;
}


/* cart btn  */

.trendingNow_product__cartBtn {
    width: max-content;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.trendingNow_product__cartBtn:hover {
    border-color: transparent;
    border-bottom: 1px solid black;
}

.trendingNow_product__cartBtn p {
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    pointer-events: none;
}

.trendingNow_product__cartBtn img {
    display: block;
    width: 13px;
    margin: 3px 0 3px 10px;
    pointer-events: none;
}


/* sow more products button */

.showMore__products__btn {
    margin: auto;
    background-color: var(--theme_btn_brown);
    color: white;
    margin-top: 30px;
}

.showMore__products__btn:hover {
    border-color: var(--theme_font);
    background-color: transparent;
    color: var(--theme_font);
}

.btn_disabled {
    opacity: 50%;
    pointer-events: none;
}