@media screen and (max-width:991px) {
    .header nav {
        padding: 20px 15px 15px 15px;
    }

    .header__navigation {
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 3;
        width: 0px;
        height: 0px;
        overflow: hidden;
        opacity: 0;
        transition: 0.3s ease all;
    }

    .navigation__Script {
        width: auto;
        height: auto;
        opacity: 100;
    }

    .header__navigation>ul {
        background-color: white;
        width: 100%;
        height: 100%;
        flex-direction: column;
        overflow-y: scroll;
    }

    .header__navigation>ul .navigation__close__btn {
        display: flex;
        justify-content: end;
        width: 100%;
        padding: 20px 15px 0 0;
    }

    .header__navigation>ul .navigation__close__btn .icon {
        cursor: pointer;
        transition: 0.4s ease;
    }

    .header__navigation>ul .navigation__close__btn .icon:hover {
        transform: rotate(90deg);
    }

    .header__navigation>ul .navigation__close__btn .fa-xmark {
        font-size: 30px;
        pointer-events: none;
    }

    .header__navigation>ul>li {
        margin: 10px 0 0 15px;
        width: max-content;
    }

    .header__navigation>ul>li .ancors {
        font-size: 26px;
        padding: 0;
    }

    .header__navigation>ul>li .ancors span {
        display: inline-block;
        padding-left: 10px;
        opacity: 0;
        transition: 0.2s ease;
    }

    .header__navigation>ul>li .ancors:hover span {
        opacity: 100;
        transform: translateX(7px);
    }

    .ancors__others .hover__box {
        background-color: white;
        visibility: visible;
        opacity: 100;
        transform: translateY(0);
        overflow: hidden;
        padding: 15px 0 30px 0;
        transition: 0.4s;
    }

    .ancors__others .ancors__others__text {
        display: flex;
        align-items: center;
    }

    .ancors__others__text span {
        display: inline-block;
        font-size: 16px;
        padding: 3.5px 0 0 15px !important;
        opacity: 100 !important;
    }

    .ancors__others__text:hover {
        cursor: default !important;
    }

    .ancors__others__text:hover span {
        transform: translateX(0) !important;
    }

    .header__buttons ul {
        transform: translateY(0);
    }

    .navigation__toggler__btn {
        display: block;
    }

    .navigation__toggler__btn img {
        width: 32px;
        height: 22px;
        display: block;
        cursor: pointer;
        transition: 0.3s;
    }

    .navigation__toggler__btn img:hover {
        width: 32px;
        height: 28px;
    }
}

@media screen and (max-width:868px) {}

@media screen and (max-width:768px) {
    .nav_logo__links .logo {
        width: 100px;
    }

    .header__buttons ul li {
        width: 30px;
        margin: 0 4px;
    }
}

@media screen and (max-width:668px) {}

@media screen and (max-width:512px) {
    .header__navigation>ul .navigation__close__btn {
        padding: 15px 15px 0 0;
    }

    .header__navigation>ul .navigation__close__btn .fa-xmark {
        font-size: 25px;
    }

    .header__navigation>ul>li {
        margin: 12px 0 0 15px;
    }

    .header__navigation>ul>li .ancors {
        font-size: 20px;
    }

    .hover__box .hover__box__col_2 {
        padding-left: 40px;
    }
}

@media screen and (max-width:480px) {
    .nav_logo__links .logo {
        width: 90px;
    }

    .header__buttons ul li {
        width: 28px;
        margin: 0 2px;
    }

    .header__navigation>ul>li .ancors {
        font-size: 18px;
    }

    .hover__box .hover__box__col_2 {
        padding-left: 20px;
    }
}

@media screen and (max-width:380px) {}