@media screen and (max-width:991px) {

    /* grid  */
    .footer__grid {
        gap: 30px;
    }
}

@media screen and (max-width:868px) {

    /* grid  */
    .footer__grid {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 40px;
        column-gap: 30px;
    }
}

@media screen and (max-width:768px) {

    /* form  */
    .footer__join_NewsLetter .form input {
        width: 350px;
    }
}

@media screen and (max-width:668px) {

    /* heading  */
    .footer__join_NewsLetter .heading {
        font-size: 21px;
    }

    /* grid  */
    .footer__grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
        column-gap: 30px;
    }

    /* form  */
    .footer__join_NewsLetter .form input {
        width: 250px;
    }
}

@media screen and (max-width:512px) {}

@media screen and (max-width:480px) {

    /* heading  */
    .footer__join_NewsLetter .heading {
        font-size: 19px;
    }

    /* grid  */
    .footer__grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        column-gap: 0;
    }

    /* 2 3 4 */
    .grid__box__2 .heading,
    .grid__box__3 .heading,
    .grid__box__4 .heading {
        padding-bottom: 5px;
    }

    .grid__box__1__para__2 {
        padding-bottom: 15px;
    }

    /* form  */
    .footer__join_NewsLetter .form {
        padding-top: 10px;
    }

    .footer__join_NewsLetter .form input {
        width: 200px;
        max-width: 200px;
        height: 25px;
    }

    .footer__join_NewsLetter .form button {
        height: 25px;
        font-size: 14px;
    }
}

@media screen and (max-width:380px) {
    .footer__join_NewsLetter .form input {
        width: 150px;
        height: 25px;
    }

    .copy_right__stamp p {
        text-align: center;
    }
}